// global
@body-bg: #fff;

// device width
@screen-phone: 480px;
@screen-tablet: 768px;
@screen-desktop: 992px;
@screen-desktop-large: 1200px;

// column length
@len-12: 100%;
@len-11: 91.66666667%;
@len-10: 83.33333333%;
@len-9: 75%;
@len-8: 66.66666667%;
@len-7: 58.33333333%;
@len-6: 50%;
@len-5: 41.66666667%;
@len-4: 33.33333333%;
@len-3: 25%;
@len-2: 16.66666667%;
@len-1: 8.33333333%;